<div class="jumbotron">
    <h1>Mockaut</h1>
    <p class="lead">A simple API manager for generate custom endpoints to your tests</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Create Project</a></p>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4><b>Custom Endpoints</b></h4>
                <p>Customize your endpoints by adding rules in it</p>
                <p><a href="#">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4><b>Swagger + Mockbin</b></h4>
                <p>Have you heard about Swagger?</p>
                <p><a href="#">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4><b>HTTP Archive (HAR)</b></h4>
                <p>We use the HAR format to create mock endpoints</p>
                <p><a href="#">Learn more</a></p>
            </div>
        </div>
    </div>
</div>