<div class="page-header text-center">
    <!--<h1>{{rule.name}}</h1>-->
    <h1>New Rule</h1>
</div>

<p ng-show="customMessage.length" class="alert alert-info">{{customMessage}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Basic Info</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Project</label>
                            <select name="project" class="form-control" required ng-controller="ProjectsController" ng-model="rule.project_id" ng-options="project._id as project.name for project in projects">
                                <option value="">Select the project</option>
                            </select>
                            <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.project.$error.required">
                                Project is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Name</label>
                            <input ng-model="rule.name" name="name" class="form-control" required ng-maxlength="20">
                            <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.name.$error.required">
                        Name is required
                    </span>
                            <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.name.$error.maxlength">
                        Name must be a maximum of 20 characters
                    </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <input ng-model="rule.description" name="description" class="form-control" required>
                            <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.description.$error.required">
                        Description is required
                    </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Method</label>
                            <select name="method" class="form-control" required ng-controller="ProjectsController" ng-model="rule.method">
                        <option value="">Select the method</option>
                        <option value="post">POST</option>
                        <option value="get">GET</option>
                        <option value="put">PUT</option>
                        <option value="patch">PATCH</option>
                        <option value="delete">DELETE</option>
                    </select>
                            <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.method.$error.required">
                        Method is required
                    </span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Path</label>
                            <input ng-model="rule.path" name="path" class="form-control" required>
                            <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.path.$error.required">
                        Path is required
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Expected</h5>
            </div>
            <div class="panel-body">
                <div id="jsonExpectedTab">
                    <div ng-controller="RuleController">
                        <div class="col">
                            <div ng-jsoneditor ng-model="jsonExpected.data" options="{ mode: 'tree' }" style="width: 100%; height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <label for="">Matches: 0</label>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Response</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Status Code</label>
                        <div class="form-group form-inline">
                            <input ng-model="responseHAR.statusCode" name="name" class="form-control" placeholder="200">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label>Type</label>
                        <div class="form-group form-inline">
                            <input ng-model="responseHAR.content.mimeType" name="name" class="form-control" placeholder="application/json">
                        </div>
                    </div>
                </div>

                <div id="jsonResponseTab">
                    <label>Body</label>
                    <div ng-controller="RuleController">
                        <div class="col">
                            <div ng-jsoneditor ng-model="responseHAR.content.text" options="{ mode: 'text' }" style="width: 100%; height: 300px;"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="col-md-4">
                    <div class="form-group">
                        <select name="definition" class="form-control" required ng-controller="DefinitionsController" ng-model="definition.definition_id"
                            ng-options="definition._id as definition.name for definition in definitions">
                            <option value="">Select the definition</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="loadDefinition()">Load Definition</button>
            </div>
        </div>

        <br />

        <div class="row text-center">
            <button type="submit" class="btn btn-primary btn-lg form" ng-disabled="formulario.$invalid">Save</button>
            <a href="/admin/rules" class="btn btn-primary btn-lg">Back</a>
        </div>
</form>

<br />
<br />