<div class="jumbotron">
    <h1 class="text-center">Rules</h1>
</div>

<p ng-show="customMessage.length" class="alert alert-info">
    {{customMessage}}
</p>

<div class="row">
    <div class="col-md-12">
        <input class="form-control" placeholder="type your search" ng-model="filtro" ng-model-options="{ debounce: 500 }">
    </div>
    <!-- fim col-md-12 -->
</div>
<!-- fim row -->
<br />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Project</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rule in rules | filter: filtro">
                <td>{{rule.name}}</td>
                <td>{{rule.path}}</td>
                <td>{{rule.project}}</td>
                <td>{{rule.description}}</td>
                <td>
                    <div class="pull-right">
                        <a href="/admin/rules/edit/{{rule._id}}" class="btn btn-primary">Edit</a>
                        <button href="" class="btn btn-danger" ng-click="remover(rule)">Remove</button>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>
<!-- fim row -->

<div class="row text-center">
    <div class="btn-toolbar">
        <a href="/" class="btn btn-primary">Back</a>
        <a href="admin/rules/new" class="btn btn-primary">New Rule</a>
    </div>
</div>
<br />
<br />