<div class="page-header text-center">
    <!--<h1>{{rule.name}}</h1>-->
    <h1>New Rule</h1>
</div>

<p ng-show="customMessage.length" class="alert alert-info">{{customMessage}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="row">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Project</label>
                    <select name="project" class="form-control" required ng-controller="ProjectsController" ng-model="rule.project_id" ng-options="project._id as project.name for project in projects">
                        <option value="">Select the project</option>
                    </select>
                    <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.project.$error.required">
                        Project is required
                    </span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>Name</label>
                    <input ng-model="rule.name" name="name" class="form-control" required ng-maxlength="20">
                    <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.name.$error.required">
                        Name is required
                    </span>
                    <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.name.$error.maxlength">
                        Name must be a maximum of 20 characters
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Description</label>
                    <input ng-model="rule.description" name="description" class="form-control" required>
                    <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.description.$error.required">
                        Description is required
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Method</label>
                    <select name="method" class="form-control" required ng-controller="ProjectsController" ng-model="rule.method">
                        <option value="">Select the method</option>
                        <option value="post">POST</option>
                        <option value="get">GET</option>
                        <option value="put">PUT</option>
                        <option value="patch">PATCH</option>
                        <option value="delete">DELETE</option>
                    </select>
                    <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.method.$error.required">
                        Method is required
                    </span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label>Path</label>
                    <input ng-model="rule.path" name="path" class="form-control" required>
                    <span class="form-control alert-danger" ng-show="formulario.$submitted && formulario.path.$error.required">
                        Path is required
                    </span>
                </div>
            </div>
        </div>

        <br />

        <div class="row">

            <div class="panel panel-default">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#jsonExpectedTab">Expected</a></li>
                    <li><a data-toggle="tab" href="#jsonResponseTab">Response</a></li>
                </ul>

                <div class="tab-content">
                    <div id="jsonExpectedTab" class="tab-pane fade in active">
                        <h3>Expected</h3>
                        <div ng-controller="RuleController" class="wrapper">
                            <div class="col">
                                <div ng-jsoneditor ng-model="jsonExpected.data" options="jsonExpected.options" style="width: 100%; height: 300px; background-color:#CCFFFF"></div>
                            </div>
                            <div class="col">
                                <div class="pdL4">
                                    <button type="button" class="btn btn-default" ng-click="changeData()"><i class="fa fa-check-circle"></i>
                                        change data
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="changeOptions()"><i class="fa fa-check-circle"></i>
                                        change options
                                    </button>
                                    <!--<pre>{{pretty(obj.data)}}</pre>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of expectedTab-->

                    <div id="jsonResponseTab" class="tab-pane fade">
                        <h3>Response</h3>
                        <div class="wrapper">
                            <div class="col">
                                <div ng-jsoneditor ng-model="jsonResponse.data" options="jsonResponse.options" style="width: 100%; height: 300px; background-color:#CCFFCC"></div>
                            </div>
                            <div class="col">
                                <div class="pdL4">
                                    <button type="button" class="btn btn-default" ng-click="changeData()"><i class="fa fa-check-circle"></i>
                                        change data
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="changeOptions()"><i class="fa fa-check-circle"></i>
                                        change options
                                    </button>
                                    <!--<pre>{{pretty(obj.data)}}</pre>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of responseTab-->
                </div>
                <!--end of tabContent-->
            </div>
            <!--end of row-->

            <br />
            <br />

            <div class="row text-center">
                <button type="submit" class="btn btn-primary btn-lg form" ng-disabled="formulario.$invalid">Save</button>
                <a href="/admin/rules" class="btn btn-primary btn-lg">Back</a>
            </div>
</form>

<br />
<br />